<p>home works!</p>
<table>
    <tr>
        <th>S NO.</th>
        <th>Name</th>
        <th>e-mail</th>
        <th>Contact No. </th>
    </tr>
    <tr>
        <td>1</td>
        <td>Vivek</td>
        <td>vivek@gmail.com</td>
        <td>7018809145</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tarun</td>
        <td>Tarun@gmail.com</td>
        <td>7018809146</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Karan</td>
        <td>karan@gmail.com</td>
        <td>7018809147</td>
    </tr>
</table>
